body {
    background-image: url(img/fondo.jpg);
}
.nav-custom {
    margin-top: 1px;
}

.box{
    width: 1365px;
    height: 655px;
 
}
.up_box{
    justify-content: space-between;
    
}
.boton_up{

width: 353px;
}
.box_center{
align-items: center;
display: flex;
justify-content: space-around;
}
.bton_registro{
    
    margin-left: 142px;
}
.img_customer{
    width: 700px;
    height: 300px;
    
}
.title {
    color: white;
    text-align: center;
    margin-bottom: 25px;
}
.inputs_customer{
    width: 50%;
}
.box_rigth{
    justify-content: flex-start;
    height: 503px;
    width: 300px;
    margin-block-start: 30px;
    margin-right: 60px;

}
.box_left{
    margin-top: -150px;

    width: 50%;
}
.box_under{
    text-align: end;
    display: flex;
    justify-content: space-evenly;
    }

.font {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
