.box{
    width: 1365px;
    height: 655px;
 
}
.up_box{
    justify-content: space-between;
    
}
.box_center{
align-items: center;
display: flex;
justify-content: space-around;


}
.img_customer{
    width: 700px;
    height: 300px;
    
}
.inputs_customer{
    width: 50%;
}
.box_rigth{
    justify-content: flex-start;
    height: 503px;
    width: 300px;
    margin-block-start: 30px;
    margin-right: 60px;

}
.box_left{
    margin-top: -150px;

    width: 50%;
}
.box_under{
    text-align: end;
    
    
}
